{% extends 'doctor_base.html' %} {% block content %} {%load static%}

<head>
  <link
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <button><a href="{% url 'DoctorPatient' %}">&larr;Go Back</a></button>
  <div class="row">
    <div class="panel panel-primary" style="margin-left: 2%">
      <div class="panel-heading" style="text-align: center">
        {% if x == 1 %}
        <h6 class="panel-title">All Patient Medical History</h6>
        {% elif x == 2 %}
        <h6 class="panel-title">Your Patient Medical History</h6>
        {% endif %}
      </div>
      <table
        class="table table-hover table-striped"
        id="dev-table"
        style="table-layout: fixed"
      >
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Mobile Number</th>
            <th>Address</th>
            <th></th>
          </tr>
        </thead>
        {% for p in patientList %}
        <tr>
          <td>{{p.patientName}}</td>
          <td>{{p.phone}}</td>
          <td>{{p.address}}</td>
          <td><a href="{% url 'ViewSinglePatientRecord' p.pk x %}">View Record</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}
