{% extends 'doctor_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<!-- <p>Date: {{TodayDate}}</p> -->
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Your Appointments</h6>
    </div>
    <table class="table table-hover" id="dev-table" >
      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Contact</th>
          <th>Appointment Time</th>
          <th>   </th>
        </tr>
      </thead>
      {% for i in patientList %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.time}}</td>
        <td><a href="{% url 'ViewSinglePatientRecord' i.patientId x %}">Open Records</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


{% endblock content %}
