<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Patient Details</h1>
    Patient Name:<p>{{patientData.patientName}}</p>
    Contact Details:<p>{{patientData.phone}}</p>

    <h1>Admit Details</h1>
    Doctor Name: <p>{{doctorData.doctorName}}</p>
    Appointment Date: <p>{{appointmentDetails.appointmentDate}}</p>
    Appointment Time: <p>{{appointmentDetails.appointmentTime}}</p>
    Description: <p>{{appointmentDetails.description}}</p>
    Symptoms: <p>{{appointmentDetails.symptoms}}</p>
    Medicines Prescribed: <p>{{appointmentDetails.medicinePrescribed}}</p>
</body>
</html>